* {
    margin: 0;
    padding: 0;
}

nav {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;

    background-size: cover;


    position: absolute;
    width: 1440px;
    height: 947.69px;
    left: calc(50% - 1440px/2);
    top: 130px;
}

.main h1 {
    position: absolute;
    width: 688px;
    height: 76px;
    left: 141px;
    top: 656px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.cuadroConsulta {

    position: absolute;
    width: 454px;
    height: 753px;
    right: 141px;
    top: 154px;
    background: #FFFFFF;
}

#contenido {
    display: block;
}


#enviado {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}


#enviado img {
    width: 91.05px;
    height: 95px;
}


.cuadroConsulta h3 {
    margin-top: 52px;
    margin-left: 38px;
    text-align: start;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;

}

.cuadroConsulta p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #000000;
}

.check {


    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.form-check-input:checked {
    background-color: #212529;
    border-color: #212529;
}

.form-check-input:checked[type=radio] {
    background-image: none;
}

/* tipo formularios*/

#formularioIndependiente {
    margin: 1.5em;
    display: none;
}

#formularioDuenhoSalon {
    margin: 1.5em;
    display: none;
}


/* boton formulario*/

.envioDatos {
    width: 100%;
}



.info {
    position: absolute;
    width: 1440px;
    height: 546px;
    left: 0px;
    top: 1090px;
    left: calc(50% - 1440px/2);
    background: #FFFFFF;
}

.tecnicoCapilar h3 {
    position: absolute;
    width: 571px;
    height: 70px;
    margin-left: 141px;
    top: 67px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

.list {
    position: absolute;
    width: 571px;
    height: 175px;
    left: 141px;
    top: 191px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;

}

.imagen {
    position: relative;
    width: 612px;
    height: 408px;
    left: 713px;
    top: 113px;




}

.imagen img {
    box-sizing: border-box;
    position: absolute;
    left: 141px;
    border: 3px solid #000000;
    width: 461px;
    height: 311px;
}

footer {
    position: absolute;
    width: 1440px;
    height: 130px;
    left: calc(50% - 1440px/2);
    top: 1606px;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    background: #000000;
}

footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 141px;
}


small {
    color: red;
}

#nombreCampo {
    display: none;
}

#correoCampo {
    display: none;
}

#telefonoCampo {
    display: none;
}

#comunaCampo {
    display: none;
}

#nombreCampo2 {
    display: none;
}

#correoCampo2 {
    display: none;
}

#telefonoCampo2 {
    display: none;
}

#comunaCampo2 {
    display: none;
}

#campoNombreSalon {
    display: none;
}

@media (max-width: 375px) {
    nav {
        width: 357px;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .main {
        background-image: url(../img/fondo.png);
        width: 896px;

    }


    .main h1 {
        position: absolute;
        width: 359px;
        left: 540px;
        top: 31px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 38px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }



    .cuadroConsulta {
        position: absolute;
        width: 368px;
        height: 753px;
        left: 529px;
        top: 166px;
        background: #FFFFFF ;
        opacity: 0.8;
    }

    #contenido {
        display: block;
    }


    #enviado {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100%;
    }


    #enviado img {
        width: 91.05px;
        height: 95px;
    }


    .cuadroConsulta h3 {
        margin-top: 52px;
        margin-left: 2px;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;

        color: #000000;
    }

    .cuadroConsulta p {
        margin-top: 20px;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }

    .check {
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        flex-direction: column;
    }

    .form-check-input:checked {
        background-color: #212529;
        border-color: #212529;
    }

    .form-check-input:checked[type=radio] {
        background-image: none;
    }

    /* tipo formularios*/

    #formularioIndependiente {
        margin: 1.5em;
        display: none;
    }

    #formularioDuenhoSalon {
        margin: 1.5em;
        display: none;
    }


    /* boton formulario*/

    .envioDatos {
        width: 100%;
    }



    .info {
        position: absolute;
        width: 375px;
        height: 546px;
        top: 1090px;
        left: calc(50% - 1440px/2);
        background: #FFFFFF;
    }

    .tecnicoCapilar h3 {
        position: absolute;
        width: 356px;
        height: 70px;
        top: 33px;
        left: 398px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 35px;
        color: #000000;
    }

    .list {
        position: absolute;
        width: 354px;
        height: 175px;
        left: 537px;
        top: 404px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        color: #000000;
    }



    .imagen {
        position: relative;
        width: 375px;
        height: 408px;
        left: 393px;
        top: 113px;

    }

    .imagen img {
        box-sizing: border-box;
        position: absolute;
        left: 147px;
        border: 3px solid #000000;
        width: 350px;
        height: 236px;
    }

    footer {
        position: absolute;
        width: 363px;
        height: 130px;
        left: 0px;
        top: 1817px;
        vertical-align: bottom;
        display: flex;
        align-items: center;
        background: #000000;
    }

    footer p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-decoration-line: underline;
        color: #FFFFFF;
        margin-left: 141px;
    }


    small {
        color: red;
    }

    #nombreCampo {
        display: none;
    }

    #correoCampo {
        display: none;
    }

    #telefonoCampo {
        display: none;
    }

    #comunaCampo {
        display: none;
    }

    #nombreCampo2 {
        display: none;
    }

    #correoCampo2 {
        display: none;
    }

    #telefonoCampo2 {
        display: none;
    }

    #comunaCampo2 {
        display: none;
    }

    #campoNombreSalon {
        display: none;
    }

}